<section class="hero-heading">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col text-left">
                <h1>About Us</h1>
            </div>
        </div>
    </div>
</section>

<section id="main-content">
    <div class="container py-5">
        <div class="row">
            <div class="col-12">
                <p>
                    we are passionate on our believes that quality and affordable grocery distribution should be
                    available for everyone.So our mission in foodiva USA LLC is provide our customer with best
                    quality ingredients available in the world with reasonable pricing.So they can concentrate on
                    there recipes and there customer satisfaction on other hand we take care of supply chain
                    management of all there required for indian groceries.
                </p>
                <p>
                    experiance with more than 20 years over products spread happiness by turning an everyday
                    chef-essention into joyful cooking with standard of ultimate quality recipes.
                </p>
                <p>
                    “our goal is to provide you is the best quality products available”
                </p>
            </div>
        </div>
    </div>
</section>