<!-- header -->
<section class="TopBar">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 d-lg-flex">
                <ul class="ml-auto p-0 text-center text-md-auto">
                    <li>
                        <a href="mailto:info@foodivausa.com">
                            info@foodivausa.com
                        </a>
                    </li>
                    <li>
                        <a href="tel:+1-347-455-5097">
                            +1 347 455 5097
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
<header class="navigation-header shadow-sm">
    <div class="container mobile_nav_menu">
        <nav class="navbar navbar-expand-lg navbar-light p-0">
            <a class="navbar-brand col-7 col-lg" href="#">
                <img src="assets/images/logo.png">
            </a>
            <!-- <button class="navbar-toggler pr-2 pr-lg-0" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button> -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="true" aria-label="Toggle navigation">
                <!-- <span class="navbar-toggler-icon"></span> -->
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li *ngFor="let menuItem of menuItems" class="nav-item">
                        <a [routerLink]="[menuItem.path]" class="{{menuItem.class}}" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" data-toggle="collapse" data-target=".navbar-collapse.show">
                            {{ menuItem.title }}
                        </a>
                    </li>
                    <li class="cart">
                        <a href="/cart"><i class="fal fa-shopping-cart"></i> <span class="counter">{{ rest.getCartData() }}</span></a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>