<section class="data_section py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <app-sidebar></app-sidebar>
            </div>
            <div class="col-lg-9">
                <div class="row mb-3">
                    <div class="col-lg-12">
                        <h2 class="heading_admin_pages">Dashboard</h2>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-4">

                        <div class="card card-stats mb-4 mb-xl-0 db_card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="db_card_heading text-uppercase">Categories</h5>
                                        <span class="db_card_span mb-0">{{ categoryCounts }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon bg-primary text-white rounded-circle">
                                            <i class="fal fa-album-collection"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="card card-stats mb-4 mb-xl-0 db_card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="text-uppercase db_card_heading">Products</h5>
                                        <span class="db_card_span mb-0">{{ productCounts }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon bg-warning text-white rounded-circle">
                                            <i class="fal fa-box"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-lg-4">

                        <div class="card card-stats mb-4 mb-xl-0 db_card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <h5 class="db_card_heading text-uppercase">Orders</h5>
                                        <span class="db_card_span mb-0">{{ orderCounts }}</span>
                                    </div>
                                    <div class="col-auto">
                                        <div class="icon bg-info text-white rounded-circle">
                                            <i class="fal fa-clipboard-list p-1"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- recent orders table -->
                <div class="row mt-5">
                    <div class="col-lg-12">
                        <h2 class="subheading_admin_pages">Recent's Orders</h2>
                    </div>
                </div>
                <div class="table-responsive">
                    <nz-table #basicTable [nzData]="ordersData">
                        <thead>
                            <tr>
                                <th>Order No #</th>
                                <th>Customer</th>
                                <th>Company Name</th>
                                <th>Date/Time</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of basicTable.data">
                                <td>{{ data.order_no}}</td>
                                <td>{{ data.name }}</td>
                                <td>{{ data.company }}</td>
                                <td>{{ data.created_at }}</td>
                                <td>
                                    <a class="btn btn-sm btn-outline-primary" data-toggle="modal" [attr.data-target]="'#orderModal'+data.id">
                                        <i class="fal fa-eye"> </i>
                                        View Order
                                    </a>
                                    <!-- Modal -->
                                    <div class="modal fade" [attr.id]="'orderModal'+data.id" tabindex="-1" role="dialog"
                                        aria-labelledby="orderModal" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content order-modal">
                                                <div class="modal-header py-2">
                                                    <h5 class="modal-title" id="exampleModalLabel">Order #{{data.order_no}}</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p class="d-flex justify-content-between border">
                                                        <span class="m-auto">Name: {{data.name}}</span>
                                                        <span class="m-auto">Company: {{data.company}}</span>
                                                    </p>
                                                    <p class="d-flex justify-content-between border">
                                                        <span class="m-auto">Email: {{data.email}}</span>
                                                        <span class="m-auto">Phone: {{data.phone}}</span>
                                                    </p>
                                                    <p class="d-flex justify-content-between border">
                                                        <span class="m-auto">Adress: {{data.address}}</span>
                                                        <span class="m-auto">Sate: {{data.state}}</span>
                                                        <span class="m-auto">Country: {{data.country}}</span>
                                                    </p>
                                                    <!-- <p class="d-flex justify-content-between border">
                                                    </p> -->
                                                    <div class="dropdown-divider"></div>
                                                    <h4>Products:</h4>
                                                    <div class="card mb-2" *ngFor="let Products of data.product">
                                                        <div class="row px-3">
                                                            <div class="col-lg p-0 d-none d-lg-block">
                                                                <img src="{{ photoURL + Products.image }}" alt="" class="img-fluid" style="height: 65px;">
                                                            </div>
                                                            <div class="col-lg-10">
                                                                <div class="card-body px-0 py-1 mt-2">
                                                                    <h5 class="card-title">{{Products.name}}</h5>
                                                                    <p class="card-text d-flex justify-content-between">
                                                                        <small class="text-muted">Quantity: {{Products.pivot['quantity']}}</small>
                                                                        <small class="text-muted">Stock: {{ parseJson(Products.sku).stock}}</small>
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer py-2">
                                                    <button type="button" class="btn btn-sm btn-outline-danger"
                                                        data-dismiss="modal">Close</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</section>