<section class="hero-heading">
    <div class="container h-100">
        <div class="row align-items-center justify-content-center h-100">
            <div class="col text-left">
                <h1>Brands</h1>
            </div>
        </div>
    </div>
</section>

<section id="main-content">
    <div class="container">
        <div class="row py-5">
            <div class="col-lg-12">
                <h2 class="page-main-title">Brands We Carray</h2>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/chinar.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/mdh.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/shan.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/dabur.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/haldirams.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/amul.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/ashoka.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/mtr.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/gits.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/aashrivaad.jpg" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/maaza.png" alt="">
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card brands-card">
                    <img src="assets/images/brands/maggi.png" alt="">
                </div>
            </div>
            <div class="col-lg-12">
                <h2 style="text-align: center;" class="offical-color font-24">and many more….</h2>
            </div>
        </div>
    </div>
</section>