<div class="row">
    <div class="col-lg-6">
        <div class="product__details">
            <h3>{{ productDetails.name }}</h3>
            <p class="mb-3">Availability:
                <span class="badge badge-pill badge-success" *ngIf="productStatus == 'available'">in stock</span>
                <span class="badge badge-pill badge-danger" *ngIf="productStatus == 'unavailable'">out of stock</span>
            </p>
            <!-- <p>
                Lorem ipsum dolor sit amet, ut et, ac vel nibh a risus, in nisl vehicula etiam
                pharetra integer, pretium mus iaculis suspendisse suscipit vel.
            </p> -->

            <input type="number" name="quantity" id="quantity" class="custom-form-control mb-2" min="0" max={{productStock}} (change)="changeQTY()" [(ngModel)]="quantity">
            <button type="button" class="col btn btn-outline-danger btn-custom rounded" (click)="addToCart()" [disabled]="disableCartBTN">Add to
                cart</button>
        </div>
    </div>
    <div class="col-lg-6">
        <img src="{{ photoURL + productDetails.image }}" class="img-fluid">
    </div>
</div>