<div class="row">
    <div class="col-6">
        <div class="product__details">
            <h3>{{ productDetails.name }}</h3>
            <p class="mb-3">Availability:
                <span class="badge badge-pill badge-success" *ngIf="productStatus == 'available'">in stock</span>
                <span class="badge badge-pill badge-danger" *ngIf="productStatus == 'unavailable'">out of stock</span>
            </p>
            <p>
                Lorem ipsum dolor sit amet, ut et, ac vel nibh a risus, in nisl vehicula etiam
                pharetra integer, pretium mus iaculis suspendisse suscipit vel.
            </p>

            <div class="accordion" id="accordionExample">
                <div class="card border-0">
                    <div class="card-header p-0 bg-transparent border-0" id="headingOne" data-toggle="collapse"
                        data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <!-- <h2 class="mb-0 class product__modal__title">
                             Order a product
                        </h2> -->
                        <div class="col-12 py-2 px-1">
                            <button type="button" class="col btn btn-outline-danger btn-custom" (click)="addToCart()">Add to
                                cart</button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="col-6">
        <img src="../../../../../api/public/products/images/{{ productDetails.image }}" class="img-fluid">
    </div>
</div>