<div id="hero">
    <div class="container-fluid d-flex align-items-center justify-content-center h-100">
        <div class="content text-center">
            <h1>Welcome to Foodiva</h1>
            <p>A spices distributor company in usa</p>
        </div>
    </div>
</div>

<!-- Category Section -->
<section class="category_sections">
    <div class="container">
        <div class="row py-3 px-2">
            <div class="col-lg-6 px-2 mb-3 mb-lg-0">
                <div class="image_card">
                    <img src="assets/images/banners/banner1-2.jpg" alt="f"
                        class="w-100">
                    <div class="card_content">
                        <h2>Cinnamon</h2>
                        <a href="!#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-2 mb-3 mb-lg-0">
                <div class="image_card second_image_card">
                    <img src="assets/images/banners/slide3-1.jpg" alt="s"
                        class="w-100">
                    <div class="card_content">
                        <h2>Spice blends</h2>
                        <a href="!#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row py-3 px-2">
            <div class="col-lg-6 px-2 mb-3 mb-lg-0">
                <div class="image_card">
                    <img src="assets/images/banners/banner4.jpg" alt="t"
                        class="w-100">
                    <div class="card_content">
                        <h2>Salt free</h2>
                        <a href="!#">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 px-2 mb-3 mb-lg-0">
                <div class="image_card">
                    <img src="assets/images/banners/banner5-1.jpg" alt="f"
                        class="w-100">
                    <div class="card_content">
                        <h2>Mint Leaves</h2>
                        <a href="!#">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Products Section -->
<section class="feature_products_section">
    <div class="container-fluid py-5 px-5">
        <div class="row pb-3">
            <div class="col-lg-12 text-center">
                <h1 class="title">Featured Products</h1>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel owl-theme">
                <div class="item products">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Image Section -->
<section class="image_section">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="content">
                <h1>We are providing no.1 quality grocrey and spices to everyone</h1>
            </div>
            <div class="icons">
                <ul>
                    <li><img src="assets/images/icons/quality-icon.png">
                    </li>
                    <li><img src="assets/images/icons/health-icon.png"></li>
                    <li><img src="assets/images/icons/star-icon.png"></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Brand Section -->
<section class="brands_section">
    <div class="container">
        <div class="row my-5">
            <div id="brandCarousel" class="brand-carousel owl-carousel owl-theme">
                <div class="item">
                    <div class="card border-1">
                        <img src="assets/images/brands/chinar.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card border-1">
                        <img src="assets/images/brands/mdh.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card border-1">
                        <img src="assets/images/brands/shan.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card border-1">
                        <img src="assets/images/brands/dabur.png" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card border-1">
                        <img src="assets/images/brands/haldirams.png"
                            alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card border-1">
                        <img src="assets/images/brands/amul.jpg" alt="">
                    </div>
                </div>
                <div class="item">
                    <div class="card border-1">
                        <img src="assets/images/brands/ashoka.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>